<!-- View for creating a new `Post` -->
<!-- See http://guides.rubyonrails.org/form_helpers.html#dealing-with-basic-forms for more information -->
<!-- Leo made changes here -->
<h1>New Post</h1>
<%= render 'form' %>

<%= link_to 'Back', posts_path %>
